<h2>AboutUs</h2>
<p>
   <i> An BuyUsedBooks online software Application projects that acts as a central database containing various second hand books in stock along with their title, author and cost.
    This project is a website that acts as a central bookstore. This web project is developed using <b>Angular as the front end and MS.NET, MYSQL as a back-end.</b>  The MYSQL database stores various book related details.
    A user visiting the website can see a wide range of books arranged in respective categories. The user may select the desired book and view its price. The user may even search for specific books on the website.
    Once the user selects a book , he then has to fill in a form and the book is booked for the user.</i>

</p>
